<!DOCTYPE html>

@using LakbayRilesPH;
@using LakbayRilesPH.ClassFiles;
@{
    var currentTime = DateTime.Now;
}

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Lakbay Riles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="Content/bootstrap.css" rel="stylesheet">

    <link href="css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.ico">

</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <!--HELLO-->
        <!-- LAKBAY RILES LOGO -->
        <div class="navbar-header" style="padding-left:10px;"><img src="images/lakbayrileslogo_s.png"></div>
        <!-- DATE AND TIME -->
        <p class="navbar-text navbar-right" style="color: #fff; padding-right: 20px;">@currentTime.ToString("MMMM dd, yyyy H:mm:ss") </p>
    </nav>
    <div class="container" style="height: 591px;">
        <div class="map">
            <img class="map-photo" src="images/newbackbone.png" style="z-index:1;">

            @{
                var stationList = StationList.createStations();

                for (int i = 0; i < stationList.Count; i++)
                {
                    var station = stationList.ElementAt(i);
                    var stationName = "statusModal" + station.idName;
                    var north = StationUpdate.DisplayUpdate(station.stationName, "CV", "north");
                    var south = StationUpdate.DisplayUpdate(station.stationName, "CV", "south");
                    var pos = "-23px " + StationUpdate.DisplayStatus(north.CodeName, south.CodeName);
                    <a href="#@stationName" class="status" style="top: @station.top; left: @station.left; background-position: @pos"></a>

                    <div id="@stationName" class="mainModalDiv">
                        <div class="statusModalDiv">
                            <center>
                                <a href="#close" title="Close" class="close">X</a>
                                <h3 style="border:medium solid; border-radius: 6px;">@station.stationName</h3>
                                <div class="innerDiv">
                                    @{
                                                      
                                   
                                        if(north.CodeName == "Heavy"){
                                            <div class="innerDiv2" style="background-color:#c0392b; color:#FFF">Northbound: @north.CodeName</div>
                                        } else if(north.CodeName == "Moderate"){
                                            <div class="innerDiv2" style="background-color:#f39c12; color:#FFF">Northbound: @north.CodeName</div>
                                        } else if(north.CodeName == "Light"){
                                            <div class="innerDiv2" style="background-color:#16ff34; color:#FFF">Northbound: @north.CodeName</div>
                                        }
                                    }


                                    @{
                                        

                                        if (south.CodeName == "Heavy")
                                        {
                                            <div class="innerDiv2" style="background-color:#c0392b; color:#FFF">Southbound: @south.CodeName</div>
                                        }
                                        else if (south.CodeName == "Moderate")
                                        {
                                            <div class="innerDiv2" style="background-color:#f39c12; color:#FFF">Southbound: @south.CodeName</div>
                                        }
                                        else if (south.CodeName == "Light")
                                        {
                                            <div class="innerDiv2" style="background-color:#16ff34; color:#FFF">Southbound: @south.CodeName</div>
                                        }
                                    }
                                    
                                    <br>
                                    <br>
                             
                                    @if (north.Time > south.Time) 
                                    { 
                                        <p>As of @north.ToString("MMMM dd, yyyy H:mm:ss")</p>
                                    }
                                    else
                                    {
                                        <p>As of @south.ToString("MMMM dd, yyyy H:mm:ss")</p>
                                    }
                                        
      
                                </div>
                            </center>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>
</body>
</html>
