<!DOCTYPE html>

@using LakbayRilesPH;
@using LakbayRilesPH.ClassFiles;

@{
    var currentTime = DateTime.Now;
    var lineAnnouncements = AnnouncementList.GetAnnouncements();
}

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Lakbay Riles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/flat-ui.css" rel="stylesheet">
    <link href="~/css/index.css" rel="stylesheet">

    <link rel="shortcut icon" href="~/images/favicon.ico">

</head>

<body>
    <!-- THE NAVBAR DESKTOP-->
    <nav class="navbar navbar-default" role="navigation" id="navbar-desktop">

        <!-- THE LAKBAY RILES LOGO -->
        <div class="navbar-header index-navbar"><img src="~/images/lakbayrileslogo_s.png"></div>

        <!-- THE TITLE OF THE VIEW -->
        <h1 class="index-navbar-title navbar-text">LRT LINE 1 SYSTEM VIEW</h1>

        <!-- THE DATE AND TIME -->
        <p class="navbar-text navbar-right index-navbar-date">Today is @currentTime</p>

    </nav>
    <div class="sidebar-mobile" id="boxscroll">
        <button type="button">Station1</button>
    </div>
    <!-- THE MAIN BODY OF LAKBAYRILES.PH -->
    <div class="container index-body">

        <!-- THE DIV FOR THE MAP -->
        <div class="map" id="map-desktop">

            <!-- THE IMAGE OF THE LINE MAP -->
            <img class="map-photo index-map" src="~/images/newbackbone.png">

            <br />

            <!-- THE DIV OF THE ANNOUNCEMENT BOARD -->
            <div class="col-lg-5 index-announcement-board">

                <!-- THE DIV OF THE CONTENTS ANNOUNCEMENT BOARD -->
                <div id="announcement" class="carousel slide" data-interval="6000" data-ride="carousel">

                    
                    <!-- THE DIV FOR THE ANNOUNCEMENT ITEMS -->
                    <div class="carousel-inner index-announcement-items">

                            @for (var i=0 ; i<lineAnnouncements.Count; i++)
                            {
                                var row = (Announcement) lineAnnouncements.ElementAt(i);
                                var classname = "";
                                if(i == 0){
                                    classname = "active item tile index-announcement-item";
                                } else {
                                    classname = "item tile index-announcement-item";
                                }
                                <!-- THE DIV FOR ANNOUNCEMENT 1 -->
                                <div class="@classname">
                                    <a href="#allAnnouncements" data-toggle="modal">
                                        <h4 class="index-announcement-board-title">ANNOUNCEMENTS &raquo;</h4>
                                    </a>
                               
                                        <a href="#theAnnouncement" data-toggle="modal" class="index-announcement-link">
                                            <p>[As of @row.Time] - <i>@row.Title SEE FULL DETAILS!</i></p>
                                        </a>
                                
                                </div>
                            }

                    </div>
                   
                    <!-- THE "NAVBAR" FOR THE ANNOUNCEMENT BOARD -->
                    <a class="carousel-control left index-rounded-border" href="#announcement" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>

                    <a class="carousel-control right index-rounded-border" href="#announcement" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>

                </div>

            </div>

      
            <!-- THE MODAL FOR THE ANNOUNCEMENT -->
            <div class="modal fade" id="theAnnouncement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                <!-- THE MAIN MODAL DIV -->
                <div class="modal-dialog">

                    <!-- THE CONTENTS OF THE MODAL -->
                    <div class="modal-content">

                        <!-- THE HEADER OF THE MODAL -->
                        <div class="modal-header index-modal-f-b">
                            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <center><h5 class="modal-title" id="myModalLabel">LRT LINE 1 ANNOUNCEMENT</h5></center>
                        </div>

                        <!-- THE BODY OF THE MODAL -->
                        <div class="modal-body index-modal-body">
                            <center>
                                <h5><em>NO TRAIN FROM EDSA TO ROOSEVELT.</em></h5>
                                <br />
                                <div class="well">
                                    <p><br />No trains will be operating today because of the brownout.<br /> All power supplies have been cut off.</p>
                                </div>
                            </center>
                        </div>

                        <!-- THE FOOTER OF THE MODAL -->
                        <div class="modal-footer index-modal-f-b">
                            <center><i>Announcement posted as of @currentTime</i></center>
                        </div>

                    </div>

                </div>

            </div>

            <!-- THE MODAL FOR THE LIST OF ALL ANNOUNCEMENTS -->
            <div class="modal fade" id="allAnnouncements" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                <!-- THE MAIN MODAL DIV -->
                <div class="modal-dialog">

                    <!-- THE CONTENTS OF THE MODAL -->
                    <div class="modal-content">

                        <!-- THE HEADER OF THE MODAL -->
                        <div class="modal-header index-modal-f-b">
                            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <center><h5 class="modal-title" id="myModalLabel">LRT LINE 1 ANNOUNCEMENTS</h5></center>
                        </div>

                        <!-- THE BODY OF THE MODAL -->
                        <div class="modal-body index-modal-body">

                            <!-- THE DIV FOR ALL THE ANNOUNCEMENTS -->
                            <div class="panel-group" id="AllAnnouncements">
                                @for (var i=0; i<lineAnnouncements.Count; i++) {
                                    var row = (Announcement)lineAnnouncements.ElementAt(i);
                                    var hrefLink = "announcement" + i;
                                    var links = "#" + hrefLink;
                                    <!-- THE DIV FOR ANNOUNCEMENT 1 -->
                                    <div class="panel panel-default">

                                        <!-- THE TITLE OF THE ANNOUNCEMENT -->
                                        <div class="panel-heading">
                                            <h4 class="panel-title index-all-item">
                                                <a data-toggle="collapse" data-parent="#AllAnnouncements" href= @links>
                                                    @row.Title | @row.Time
                                                </a>
                                            </h4>
                                        </div>

                                        <!-- THE FURTHER DETAILS OF THE ANNOUNCEMENT -->
                                        <div id=@hrefLink class="panel-collapse collapse">
                                            <div class="panel-body">
                                                @row.Message
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>

                        </div>

                        <!-- THE FOOTER OF THE MODAL -->
                        <div class="modal-footer index-modal-f-b">
                            <center><i>Announcements posted as of @currentTime</i></center>
                        </div>

                    </div>

                </div>

            </div>

            @{
                var stationList = StationList.createStations();

                for (int i = 0; i < stationList.Count; i++)
                {
                    var station = stationList.ElementAt(i);
                    var stationName = "statusModal" + station.idName;

                    var north = StationUpdate.DisplayUpdate(station.stationName, "CV", "north");
                    var south = StationUpdate.DisplayUpdate(station.stationName, "CV", "south");

                    var northCV = "";
                    var northColor = "";
                    if (north.CodeName == "Heavy")
                    {
                        northCV = "Waiting Time: 20-25 mins.";
                        northColor = "#c0392b";
                    }
                    else if (north.CodeName == "Moderate")
                    {
                        northCV = "Waiting Time: 10-15 mins.";
                        northColor = "#f39c12";
                    }
                    else if (north.CodeName == "Light")
                    {
                        northCV = "Waiting Time: 0-5 mins.";
                        northColor = "#2ecc71";
                    }


                    var southCV = "";
                    var southColor = "";
                    if (south.CodeName == "Heavy")
                    {
                        southCV = "Waiting Time: 20-25 mins.";
                        southColor = "#c0392b";
                    }
                    else if (south.CodeName == "Moderate")
                    {
                        southCV = "Waiting Time: 10-15 mins.";
                        southColor = "#f39c12";
                    }
                    else if (south.CodeName == "Light")
                    {
                        southCV = "Waiting Time: 0-5 mins.";
                        southColor = "#2ecc71";
                    }

                    <!--BG POSITION-->
                    var color = "-23px " + StationUpdate.DisplayStatus(north.CodeName, south.CodeName);
                    <a href="#@stationName" class="status" data-toggle="modal" style="top: @station.top; left: @station.left; background-position: @color;"></a>

                    <!-- THE MODAL FOR THE STATUS OF THE LRT1 STATIONS-->
                    <div class="modal fade" id="@stationName" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                        <!-- THE MAIN MODAL DIV -->
                        <div class="modal-dialog">

                            <!-- THE CONTENTS OF THE MODAL -->
                            <div class="modal-content">

                                <!-- THE HEADER OF THE MODAL -->
                                <div class="modal-header index-modal-f-b">
                                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <center><h5 class="modal-title" id="myModalLabel">@station.stationName.ToUpper() STATION</h5></center>
                                </div>

                                <!-- THE BODY OF THE MODAL -->
                                <div class="modal-body index-modal-body">
                                    <div class="row">

                                        <!--  THE DIV FOR THE NORTHBOUND INFO-->
                                        <div class="col-lg-6">
                                            <div class="tile" style="background-color:@northColor; color:#FFF">
                                                <br />
                                                <img src="images/up_circular-64.png" /><br />
                                                <h6>Northbound</h6>
                                                <p>@northCV</p>
                                            </div>
                                        </div>

                                        <!-- THE DIV FOR THE SOUTHBOUND INFO -->
                                        <div class="col-lg-6">
                                            <div class="tile" style="background-color:@southColor; color:#FFF">
                                                <br />
                                                <img src="images/down_circular-64.png" /><br />
                                                <h6>Southbound</h6>
                                                <p>@southCV</p>
                                            </div>
                                        </div>

                                    </div>

                                    <br />

                                    <!-- THE DIV FOR THE ANNOUNCEMENTS INSIDE THE MODAL -->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="tile index-modal-announcements">
                                                <h6>Announcements:</h6>
                                                @{
                                                    var announcements = north.Announcements;
                                                    if (announcements.Count > 0) { 
                                                        foreach (var announcement in announcements)
                                                        {
                                                            <p class="title"> @announcement.Title | @announcement.Time </p>
                                                            <p class="message">@announcement.Message</p>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p class="message">No announcements</p>
                                                    }
                                                }
                                              
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- THE FOOTER OF THE MODAL -->
                                <div class="modal-footer index-modal-f-b">
                                    <center><i>Station Crowd Volume as of @currentTime</i></center>
                                </div>

                            </div>

                        </div>

                    </div>
                }
            }
        </div>

        <div class="content-mobile">
            <center><h5 class="modal-title" id="myModalLabel">CARRIEDO</h5></center>
            <!--  THE DIV FOR THE NORTHBOUND INFO-->
            <div class="col-lg-8">
                <div class="tile" style="background-color:#2ecc71; color:#FFF">
                    <br/>
                    <img src="images/up_circular-64.png" /><br />
                    <h6>Northbound</h6>
                </div>
            </div>

            <!-- THE DIV FOR THE SOUTHBOUND INFO -->
            <div class="col-lg-8">
                <div class="tile" style="background-color:#2ecc71; color:#FFF">
                    <br />
                    <img src="images/down_circular-64.png" /><br />
                    <h6>Southbound</h6>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#boxscroll").niceScroll({ touchbehavior: false, cursorcolor: "#00F", cursoropacitymax: 0.7, cursorwidth: 11, cursorborder: "1px solid #2848BE", cursorborderradius: "8px", background: "#ccc", autohidemode: "scroll" }).cursor.css({ "background-image": "url(img/mac6scroll.png)" });
    </script>
    <script src="~/js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="~/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-select.js"></script>
    <script src="~/js/bootstrap-switch.js"></script>
    <script src="~/js/flatui-checkbox.js"></script>
    <script src="~/js/flatui-radio.js"></script>
    <script src="~/js/jquery.tagsinput.js"></script>
    <script src="~/js/jquery.placeholder.js"></script>
</body>
</html>
