<!DOCTYPE html>
@{
    var currentTime = DateTime.Now;
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Lakbay Riles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <link href="css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.ico">

</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <!-- LAKBAY RILES LOGO -->
        <div class="navbar-header" style="padding-left:10px;"><img src="images/lakbayrileslogo_s.png"></div>
        <!-- DATE AND TIME -->
        <p class="navbar-text navbar-right" style="color: #fff; padding-right: 20px;">@currentTime</p>
    </nav>
    <div class="container" style="height: 591px;">
        <div class="map">
            <img class="map-photo" src="images/newbackbone.png" style="z-index:1;">

            <a href="#statusModalBaclaran" class="status" style="	top: 505px; left: 63px; background-position: -23px -1px;"></a>
            <a href="#statusModalEdsa" class="status" style="	top: 481px; left: 113px; background-position: -23px -25px;"></a>
            <a href="#statusModalLibertad" class="status" style="	top: 456px; left: 161px; background-position: -23px -49px;"></a>
            <a href="#statusModalGilPuyat" class="status" style="	top: 432px; left: 211px; background-position: -23px -73px;"></a>
            <a href="#statusModalVitoCruz" class="status" style="	top: 405px; left: 263px; background-position: -23px -97px;"></a>
            <a href="#statusModalQuirino" class="status" style="	top: 380px; left: 313px; background-position: -23px -121px;"></a>
            <a href="#statusModalPedroGil" class="status" style="	top: 355px; left: 363px; background-position: -23px -145px;"></a>
            <a href="#statusModalUNAve" class="status" style="	top: 330px; left: 413px; background-position: -23px -169px;"></a>
            <a href="#statusModalCentral" class="status" style="	top: 305px; left: 463px; background-position: -23px -192px;"></a>
            <a href="#statusModalCarriedo" class="status" style="	top: 280px; left: 513px; background-position: -23px -217px;"></a>
            <a href="#statusModalDJose" class="status" style="	top: 255px; left: 563px; background-position: -23px -217px;"></a>
            <a href="#statusModalBambang" class="status" style="	top: 230px; left: 613px; background-position: -23px -192px;"></a>
            <a href="#statusModalTayuman" class="status" style="	top: 205px; left: 663px; background-position: -23px -168px;"></a>
            <a href="#statusModalBlumentritt" class="status" style="	top: 180px; left: 713px; background-position: -23px -145px;"></a>
            <a href="#statusModalAbadSantos" class="status" style="	top: 155px; left: 763px; background-position: -23px -121px;"></a>
            <a href="#statusModalRPapa" class="status" style="	top: 130px; left: 813px; background-position: -23px -97px;"></a>
            <a href="#statusModal5thAvenue" class="status" style="	top: 105px; left: 863px; background-position: -23px -73px;"></a>
            <a href="#statusModalMonumento" class="status" style="	top: 80px; left: 913px; background-position: -23px -49px;"></a>
            <a href="#statusModalBalintawak" class="status" style="	top: 55px; left: 963px; background-position: -23px -25px;"></a>
            <a href="#statusModalRoosevelt" class="status" style="	top: 30px; left: 1013px; background-position: -23px -1px;"></a>
        </div>
    </div>


    <div id="statusModalBaclaran" class="mainModalDiv">
        <div class="statusModalDiv">
            <center>
                <a href="#close" title="Close" class="close">X</a>
                <h3 style="border:medium solid; border-radius: 6px;">BACLARAN</h3>
                <div class="innerDiv">
                    <div class="innerDiv2" style="background-color:#c0392b; color:#FFF">Southbound: H</div>
                    <div class="innerDiv2" style="background-color:#f39c12; color:#FFF">Northbound: M</div>
                    <br>
                    <br>
                    <p>As of @currentTime</p>
                </div>
            </center>
        </div>
    </div>
    <div id="statusModalEdsa" class="mainModalDiv">
        <div class="statusModalDiv">
            <center>
                <a href="#close" title="Close" class="close">X</a>
                <h3 style="border:medium solid; border-radius: 6px;">EDSA</h3>
                <div class="innerDiv">
                    <div class="innerDiv2" style="background-color:#27ae60; color:#FFF">Southbound: L</div>
                    <div class="innerDiv2" style="background-color:#27ae60; color:#FFF">Northbound: L</div>
                    <br>
                    <br>
                    <p>As of @currentTime</p>
                </div>
            </center>
        </div>
    </div>
    <div id="statusModalLibertad" class="mainModalDiv">
        <div class="statusModalDiv">
            <center>
                <a href="#close" title="Close" class="close">X</a>
                <h3 style="border:medium solid; border-radius: 6px;">LIBERTAD</h3>
                <div class="innerDiv">
                    <div class="innerDiv2" style="background-color:#f39c12; color:#FFF">Southbound: M</div>
                    <div class="innerDiv2" style="background-color:#f39c12; color:#FFF">Northbound: M</div>
                    <br>
                    <br>
                    <p>As of @currentTime</p>
                </div>
            </center>
        </div>
    </div>
    <div id="statusModalGilPuyat" class="mainModalDiv">
        <div class="statusModalDiv">
            <center>
                <a href="#close" title="Close" class="close">X</a>
                <h3 style="border:medium solid; border-radius: 6px;">GIL PUYAT</h3>
                <div class="innerDiv">
                    <div class="innerDiv2" style="background-color:#f39c12; color:#FFF">Southbound: M</div>
                    <div class="innerDiv2" style="background-color:#c0392b; color:#FFF">Northbound: H</div>
                    <br>
                    <br>
                    <p>As of @currentTime</p>
                </div>
            </center>
        </div>
    </div>
    <div id="statusModalVitoCruz" class="mainModalDiv">
        <div class="statusModalDiv">
            <center>
                <a href="#close" title="Close" class="close">X</a>
                <h3 style="border:medium solid; border-radius: 6px;">VITO CRUZ</h3>
                <div class="innerDiv">
                    <div class="innerDiv2" style="background-color:#c0392b; color:#FFF">Southbound: H</div>
                    <div class="innerDiv2" style="background-color:#c0392b; color:#FFF">Northbound: H</div>
                    <br>
                    <br>
                    <p>As of @currentTime</p>
                </div>
            </center>
        </div>
    </div>

    <div id="statusModalQuirino" class="mainModalDiv">
        <div class="statusModalDiv">
            <center>
                <a href="#close" title="Close" class="close">X</a>
                <h3 style="border:medium solid; border-radius: 6px;">QUIRINO</h3>
                <div class="innerDiv">
                    <div class="innerDiv2" style="background-color:#27ae60; color:#FFF">Southbound: L</div>
                    <div class="innerDiv2" style="background-color:#27ae60; color:#FFF">Northbound: L</div>
                    <br>
                    <br>
                    <p>As of @currentTime</p>
                </div>
            </center>
        </div>
    </div>
    <div id="statusModalPedroGil" class="mainModalDiv">
        <div class="statusModalDiv">
            <center>
                <a href="#close" title="Close" class="close">X</a>
                <h3 style="border:medium solid; border-radius: 6px;">PEDRO GIL</h3>
                <div class="innerDiv">
                    <div class="innerDiv2" style="background-color:#27ae60; color:#FFF">Southbound: L</div>
                    <div class="innerDiv2" style="background-color:#27ae60; color:#FFF">Northbound: L</div>
                    <br>
                    <br>
                    <p>As of @currentTime</p>
                </div>
            </center>
        </div>
    </div>
    <div id="statusModalUNAve" class="mainModalDiv">
        <div class="statusModalDiv">
            <center>
                <a href="#close" title="Close" class="close">X</a>
                <h3 style="border:medium solid; border-radius: 6px;">U.N. Avenue</h3>
                <div class="innerDiv">
                    <div class="innerDiv2" style="background-color:#27ae60; color:#FFF">Southbound: L</div>
                    <div class="innerDiv2" style="background-color:#27ae60; color:#FFF">Northbound: L</div>
                    <br>
                    <br>
                    <p>As of 6:00pm, February 1, 2014</p>
                </div>
            </center>
        </div>
    </div>
    <div id="statusModalCentral" class="mainModalDiv">
        <div class="statusModalDiv">
            <center>
                <a href="#close" title="Close" class="close">X</a>
                <h3 style="border:medium solid; border-radius: 6px;">CENTRAL</h3>
                <div class="innerDiv">
                    <div class="innerDiv2" style="background-color:#c0392b; color:#FFF">Southbound: H</div>
                    <div class="innerDiv2" style="background-color:#f39c12; color:#FFF">Northbound: M</div>
                    <br>
                    <br>
                    <p>As of @currentTime</p>
                </div>
            </center>
        </div>
    </div>
    <div id="statusModalCarriedo" class="mainModalDiv">
        <div class="statusModalDiv">
            <center>
                <a href="#close" title="Close" class="close">X</a>
                <h3 style="border:medium solid; border-radius: 6px;">CARRIEDO</h3>
                <div class="innerDiv">
                    <div class="innerDiv2" style="background-color:#c0392b; color:#FFF">Southbound: H</div>
                    <div class="innerDiv2" style="background-color:#f39c12; color:#FFF">Northbound: M</div>
                    <br>
                    <br>
                    <p>As of @currentTime</p>
                </div>
            </center>
        </div>
    </div>
    <div id="statusModalDJose" class="mainModalDiv">
        <div class="statusModalDiv">
            <center>
                <a href="#close" title="Close" class="close">X</a>
                <h3 style="border:medium solid; border-radius: 6px;">DOROTEO JOSE</h3>
                <div class="innerDiv">
                    <div class="innerDiv2" style="background-color:#c0392b; color:#FFF">Southbound: H</div>
                    <div class="innerDiv2" style="background-color:#27ae60; color:#FFF">Northbound: L</div>
                    <br>
                    <br>
                    <p>As of @currentTime</p>
                </div>
            </center>
        </div>
    </div>
    <div id="statusModalBambang" class="mainModalDiv">
        <div class="statusModalDiv">
            <center>
                <a href="#close" title="Close" class="close">X</a>
                <h3 style="border:medium solid; border-radius: 6px;">BAMBANG</h3>
                <div class="innerDiv">
                    <div class="innerDiv2" style="background-color:#27ae60; color:#FFF">Southbound: L</div>
                    <div class="innerDiv2" style="background-color:#27ae60; color:#FFF">Northbound: L</div>
                    <br>
                    <br>
                    <p>As of @currentTime</p>
                </div>
            </center>
        </div>
    </div>
    <div id="statusModalTayuman" class="mainModalDiv">
        <div class="statusModalDiv">
            <center>
                <a href="#close" title="Close" class="close">X</a>
                <h3 style="border:medium solid; border-radius: 6px;">TAYUMAN</h3>
                <div class="innerDiv">
                    <div class="innerDiv2" style="background-color:#27ae60; color:#FFF">Southbound: L</div>
                    <div class="innerDiv2" style="background-color:#27ae60; color:#FFF">Northbound: L</div>
                    <br>
                    <br>
                    <p>As of @currentTime</p>
                </div>
            </center>
        </div>
    </div>
    <div id="statusModalBlumentritt" class="mainModalDiv">
        <div class="statusModalDiv">
            <center>
                <a href="#close" title="Close" class="close">X</a>
                <h3 style="border:medium solid; border-radius: 6px;">BLUMENTRITT</h3>
                <div class="innerDiv">
                    <div class="innerDiv2" style="background-color:#27ae60; color:#FFF">Southbound: L</div>
                    <div class="innerDiv2" style="background-color:#27ae60; color:#FFF">Northbound: L</div>
                    <br>
                    <br>
                    <p>As of @currentTime</p>
                </div>
            </center>
        </div>
    </div>
    <div id="statusModalAbadSantos" class="mainModalDiv">
        <div class="statusModalDiv">
            <center>
                <a href="#close" title="Close" class="close">X</a>
                <h3 style="border:medium solid; border-radius: 6px;">ABAD SANTOS</h3>
                <div class="innerDiv">
                    <div class="innerDiv2" style="background-color:#f39c12; color:#FFF">Southbound: M</div>
                    <div class="innerDiv2" style="background-color:#27ae60; color:#FFF">Northbound: L</div>
                    <br>
                    <br>
                    <p>As of @currentTime</p>
                </div>
            </center>
        </div>
    </div>
    <div id="statusModalRPapa" class="mainModalDiv">
        <div class="statusModalDiv">
            <center>
                <a href="#close" title="Close" class="close">X</a>
                <h3 style="border:medium solid; border-radius: 6px;">R. Papa</h3>
                <div class="innerDiv">
                    <div class="innerDiv2" style="background-color:#c0392b; color:#FFF">Southbound: H</div>
                    <div class="innerDiv2" style="background-color:#f39c12; color:#FFF">Northbound: M</div>
                    <br>
                    <br>
                    <p>As of @currentTime</p>
                </div>
            </center>
        </div>
    </div>
    <div id="statusModal5thAvenue" class="mainModalDiv">
        <div class="statusModalDiv">
            <center>
                <a href="#close" title="Close" class="close">X</a>
                <h3 style="border:medium solid; border-radius: 6px;">5TH AVENUE</h3>
                <div class="innerDiv">
                    <div class="innerDiv2" style="background-color:#f39c12; color:#FFF">Southbound: M</div>
                    <div class="innerDiv2" style="background-color:#c0392b; color:#FFF">Northbound: H</div>
                    <br>
                    <br>
                    <p>As of @currentTime</p>
                </div>
            </center>
        </div>
    </div>
    <div id="statusModalMonumento" class="mainModalDiv">
        <div class="statusModalDiv">
            <center>
                <a href="#close" title="Close" class="close">X</a>
                <h3 style="border:medium solid; border-radius: 6px;">MONUMENTO</h3>
                <div class="innerDiv">
                    <div class="innerDiv2" style="background-color:#f39c12; color:#FFF">Southbound: M</div>
                    <div class="innerDiv2" style="background-color:#27ae60; color:#FFF">Northbound: L</div>
                    <br>
                    <br>
                    <p>As of @currentTime</p>
                </div>
            </center>
        </div>
    </div>
    <div id="statusModalBalintawak" class="mainModalDiv">
        <div class="statusModalDiv">
            <center>
                <a href="#close" title="Close" class="close">X</a>
                <h3 style="border:medium solid; border-radius: 6px;">BALINTAWAK</h3>
                <div class="innerDiv">
                    <div class="innerDiv2" style="background-color:#27ae60; color:#FFF">Southbound: L</div>
                    <div class="innerDiv2" style="background-color:#f39c12; color:#FFF">Northbound: M</div>
                    <br>
                    <br>
                    <p>As of @currentTime</p>
                </div>
            </center>
        </div>
    </div>
    <div id="statusModalRoosevelt" class="mainModalDiv">
        <div class="statusModalDiv">
            <center>
                <a href="#close" title="Close" class="close">X</a>
                <h3 style="border:medium solid; border-radius: 6px;">ROOSEVELT</h3>
                <div class="innerDiv">
                    <div class="innerDiv2" style="background-color:#c0392b; color:#FFF">Southbound: H</div>
                    <div class="innerDiv2" style="background-color:#c0392b; color:#FFF">Northbound: H</div>
                    <br>
                    <br>
                    <p>As of @currentTime</p>
                </div>
            </center>
        </div>
    </div>


    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>
</body>
</html>
